<div class="h-full">
  <cypress-dx-navigation></cypress-dx-navigation>

  <main class="h-full">
    <div class="max-w-7xl h-full mx-auto py-6 px-6 lg:px-8">
      <div class="flex items-center justify-center pb-6">
        <p class="text-xl sm:text-3xl">Migrate</p>
        <div class="px-3">
          <!-- <cypress-dx-select-list></cypress-dx-select-list> -->
        </div>

        <p class="text-xl sm:text-3xl">code to Cypress.</p>
      </div>
      <div class="flex pt-4 h-3/5 gap-2 flex-col">
        <!-- <cypress-dx-language-pills></cypress-dx-language-pills> -->
        <div class="justify-between flex">
          <!-- <cypress-dx-diff-toggle></cypress-dx-diff-toggle>
            <cypress-dx-copy-button></cypress-dx-copy-button> -->
        </div>

        <!-- <cypress-dx-migration-editor></cypress-dx-migration-editor> -->
      </div>

      <!-- <cypress-dx-migration-diff></cypress-dx-migration-diff> -->
    </div>
  </main>
  <!-- <cypress-dx-footer></cypress-dx-footer> -->
</div>
