@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#__next {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
}

.left-shape {
  position: absolute;
  z-index: -1;
  top: -280px;
  left: -280px;
}

.right-shape {
  position: absolute;
  z-index: -1;
  top: -360px;
  right: -580px;
}

.editor-wrapper {
  /* tailwind vh equvalent is clunky,
  moving everything here for simplicity */
  height: 40vh;
  padding-top: 0.25rem;
}

tr:nth-child(even) {
  background-color: #f3f4fa;
}
