<div class="justify-between flex">
  <cypress-dx-diff-toggle></cypress-dx-diff-toggle>
  <cypress-dx-copy-button></cypress-dx-copy-button>
</div>

<div class="flex h-full">
  <div class="px-4 py-4 sm:p-2 w-full border-solid border-2 border-gray-200 rounded">
    <ngx-monaco-diff-editor
      *ngIf="editorVM$ | async as vm"
      class="my-code-editor"
      [options]="options$ | async"
      [originalModel]="vm.original"
      [modifiedModel]="vm.modified"
      (onInit)="initEditor($event)"
    ></ngx-monaco-diff-editor>
  </div>
</div>

<div class="pb-4 flex flex-wrap-reverse justify-center sm:justify-between items-center">
  <cypress-dx-dig-deeper></cypress-dx-dig-deeper>
  <cypress-dx-migrate-button (migrate)="triggerMigration()"></cypress-dx-migrate-button>
</div>

<cypress-dx-details></cypress-dx-details>
