<label class="block">
  <select
    class="
      form-select
      language-selected
      bg-white
      relative
      w-full
      border border-gray-300
      rounded-md
      shadow-sm
      pl-3
      pr-10
      py-2
      text-left
      cursor-default
      focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500
      sm:text-sm
      text-2xl
      capitalize
    "
  >
    <option
      *ngFor="let language of availableLanguages$ | async"
      [value]="language"
      class="cursor-default select-none relative py-2 pl-3 pr-9 language-option"
    >
      {{ language }}
    </option>
  </select>
</label>
