<nav class="flex max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 h-16 items-center">
  <div class="flex w-full justify-between items-center">
    <div class="flex-shrink-0 flex items-center">
      <a href="/">
        <img src="assets/logo.png" alt="Cypress Logo" width="50" height="50" />
      </a>
      <a href="/">
        <span class="text-xl font-bold mx-2">Migrator</span>
      </a>
    </div>

    <ul class="nav-list flex items-center sm:space-x-3 md:space-x-4 lg:space-x-8 leading-3 px-2" data-test="nav-list">
      <li>
        <a
          *ngIf="selectedLanguage$ | async as selectedLanguage"
          [href]="migrationGuides[selectedLanguage].url"
          class="
            dark:bg-gray-800
            hover:underline
            bg-transparent
            dark:text-white
            py-2
            rounded-md
            text-xs
            sm:text-sm
            font-medium
            capitalize
          "
        >
          {{ selectedLanguage }} Migration Guide
        </a>
      </li>
      <li *ngFor="let link of navLinks">
        <a
          [href]="link.url"
          class="
            dark:bg-gray-00
            hover:underline
            bg-transparent
            dark:text-white
            py-2
            rounded-md
            text-xs
            sm:text-sm
            font-medium
          "
        >
          {{ link.title }}
        </a>
      </li>
    </ul>
  </div>
</nav>
<hr />
